
/*ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	width:200px;
	background-color: red; 

}
li a{
	display:block;
	color: blue;
	padding: 8px 16px;
	text-decoration: none;

}

li a:hover{
	color:yellow;
	background-color: pink;

}
li a:active{
	background-color: green;
	color:brown;
}
*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
	color: orange;
  background-color: green;
}
li a:active{
	background-color: pink;
	color:brown;
}